In [3]:
import pandas as pd
import re

In [13]:
character = pd.read_csv("fixed_characters.csv") #Do we need encoding ="latin-1"?
lines = pd.read_csv("fixed_lines.csv", encoding ="latin-1")

In [6]:
newlines_df = lines
newlines_df['dialogue'] = newlines_df['dialogue'].replace('-', ' ', regex=True).astype(str)

In [14]:
character.name = character.name.str.lower()

In [16]:
def reset_tabs(row):
    character_id = row['id']
    name = row['name']
    movie_id = row['movie_id']
    title = row['title']
    gender = row['gender']
    credit_position = row['credit_position']
    if '\t' in character_id:
        lst = character_id.split('\t')
        character_id = lst[0]
        name = lst[1]
        movie_id = lst[2]
        title = lst[3]
        gender = lst[4]
        credit_position = lst[5]
        print(character_id)
    series = pd.Series([character_id, name, movie_id, title, gender, credit_position])
    return series

In [17]:
character = character.apply(reset_tabs, axis=1)

u1602
u1866
u4660
u4664
u5011
u6736
u6737
u6738
u6739
u6740
u6741
u6742
u6743
u7230
u7845
u7914
u7917

In [28]:
# character = character.rename(columns={
#     0: 'id',
#     1: 'name',
#     2: 'movie_id',
#     3: 'title',
#     4: 'gender',
#     5: 'credit_position'
# })

In [22]:
character = character.dropna()

In [64]:
character.gender = character.gender.str.upper()
character.loc[character.gender == "?", "gender"] = "N"

In [40]:
# character = character.rename(columns={
#    'chid': 'chId',
# })
newlines_df = newlines_df[['lineId', 'chId', 'mId', 'chName', 'dialogue']]

In [44]:
cl = newlines_df.merge(character, on='chId', how='left')

In [61]:
slim_df = cl[['dialogue', 'gender']]
slim_df.dialogue = slim_df.dialogue.apply(lambda x: x.lower())

In [62]:
slim_df.gender.fillna('N', inplace =True)

In [63]:
slim_df.gender = slim_df.gender.replace('M', 0, regex=True)
slim_df.gender = slim_df.gender.replace('F', 1, regex=True)
slim_df.gender = slim_df.gender.replace('N', 2, regex=True)

In [68]:
# slim_df.to_csv('slim.csv', index=False)

In [71]:
slim = pd.read_csv('slim.csv')

dtype('int64')