In [1]:
import pandas as pd

In [ ]:
# lines_df = pd.read_csv('movie_lines.tsv',sep='\t',error_bad_lines=False,warn_bad_lines =False,header=None)

In [ ]:
# lines_df.columns = ['lineId','chId','mId','chName','dialogue']

In [ ]:
def separate_rows(row):
    lineId = row['lineId']
    chId = row['chId']
    mId = row['mId']
    chName = row['chName']
    dialogue = row['dialogue']
    if '\t' in lineId:
        lst = lineId.split('\t')
        lineId = lst[0]
        chId = lst[1]
        mId = lst[2]
        chName = lst[3]
        dialogue = lst[4]
        print(dialogue)
    series = pd.Series([lineId, chId, mId, chName, dialogue])
    return series

In [ ]:
# lines_df[['lineId', 'chId', 'mId', 'chName', 'dialogue']] = lines_df.apply(idk, axis=1)

In [ ]:
# lines_df.to_csv('fixed_lines.csv', index=False)

In [2]:
lines = pd.read_csv('fixed_lines.csv')

In [3]:
lines

,Unnamed: 0,lineId,chId,mId,chName,dialogue
0,0,L1045,u0,m0,BIANCA,They do not
1,1,L1044,u2,m0,CAMERON,They do to
2,2,L985,u0,m0,BIANCA,I hope so
3,3,L984,u2,m0,CAMERON,She okay
4,4,L925,u0,m0,BIANCA,Let's go
...,...,...,...,...,...,...
292938,293197,L666371,u9030,m616,DURNFORD,Lord Chelmsford seems to want me to stay back ...
292939,293198,L666370,u9034,m616,VEREKER,I'm to take the Sikali with the main column to...
292940,293199,L666369,u9030,m616,DURNFORD,Your orders Mr Vereker
292941,293200,L666257,u9030,m616,DURNFORD,Good ones yes Mr Vereker Gentlemen who can rid...
292942,293201,L666256,u9034,m616,VEREKER,Colonel Durnford William Vereker I hear you 'v...

In [7]:
lines.iloc[:,2]

0            u0
1            u2
2            u0
3            u2
4            u0
          ...
292938    u9030
292939    u9034
292940    u9030
292941    u9030
292942    u9034
Name: chId, Length: 292943, dtype: object

In [ ]:
punctuation = '!"#$%&\()*+,./:;<=>?@[\\]^_`{|}~'

In [ ]:
# lines = lines.dropna(subset=['dialogue'])
i = 0

In [ ]:
for index, row in lines.iterrows():
    print(i)
    row['dialogue'] = row['dialogue'].replace('--', '')
    print(row['dialogue'])
    i+=1

In [ ]:
# lines = lines.dropna(subset=['dialogue'])

In [ ]:
lines.head(20)

In [ ]:
lines.to_csv('fixed_lines.csv', index=False)

In [ ]:
lines.head(20)