In [1]:
import pandas as pd
import numpy as np

In [28]:
lst = ['CAPTAIN', 'DOCTOR', 'LAWYER', 'DRIVER', 'KID', 'CHILD', 'PRESIDENT', 'SENATOR', 'LIEUTENANT']
for index, row in x.iterrows():
    for i in lst:
        if row['name'] == i and row['gender'].isupper():
            row['gender'] = '?'

In [31]:
x.to_csv('fixed_characters.csv', index=False)

In [76]:
names = pd.read_csv('NationalNames.csv')
characters = pd.read_csv('datasets_1568_2804_movie_characters_metadata.tsv', 
                           sep='\t', error_bad_lines=False, header=None, warn_bad_lines=False)
lines = pd.read_csv('movie_lines.tsv', 
                           sep='\t', error_bad_lines=False, warn_bad_lines=False, header=None)

In [77]:
names['name'] = names['Name'].apply(lambda x: x.upper())

In [78]:
names = names.rename(columns={
    'Name': 'lower',
    'Gender': 'assumed_gender',
    'Count': 'name_count'
})
names = names[['Year', 'assumed_gender', 'name_count', 'name']]

In [79]:
names[names['name'] == 'CHILD'].groupby('assumed_gender').max()

                Year  name_count   name
assumed_gender
F               2012          24  CHILD
M               2012          42  CHILD

In [80]:
name_assumptions = names.groupby(['name','assumed_gender']).agg({'name_count': ['sum']})
name_assumptions = name_assumptions.reset_index()
cols = name_assumptions.columns.droplevel(1)
name_assumptions.columns = cols
name_assumptions = name_assumptions.sort_values(['name', 'name_count'], ascending=[True, True])
name_assumptions = name_assumptions.drop_duplicates(subset='name', keep="last")

In [81]:
female_names = name_assumptions[name_assumptions.assumed_gender == 'F']
male_names = name_assumptions[name_assumptions.assumed_gender == 'M']

In [82]:
def test(y):
    women = female_names.name.to_list() 
    men = male_names.name.to_list()
    gendered_f = ['MRS', 'LADY', 'MS ', 'MISS', 'WOMAN', 'GIRL', 'CHICK', 'MADAM', 'MADAME', 'SENIORITA', 'SENORA',
            'MISTRESS', 'FEMALE', 'MOTHER', 'MOM', 'GRANDDAUGHTER', 'NIECE', 'AUNT', 'SISTER', 'DAUGHTER',
            'BROAD', 'DUCHESS', 'DAME', 'GENTLEWOMAN', 'QUEEN', 'CRONE', ' HAG', 'GAL', 'MAMA', 'MOMMA', 'BITCH',
            'MISSUS', 'EMPRESS', 'BARONESS', 'NOBLEWOMAN', 'GRANNY', 'NONNA', 'NUN', 'MRS.','MS.', 'FRAU','WIFE',
            'WIFEY', 'BRIDE']
    gendered_m = ['MR ', 'SENOR', 'MAN', 'GUY', 'DUDE', 'MISTER', 'BOY', 'MALE', 'BROTHER', 'HUSBAND', 'GENTLEMAN',
          'FATHER', 'DAD', 'GRANDSON', 'GRANDFATHER', 'NEPHEW', 'UNCLE', 'BARON', 'KNIGHT', 'EMPEROR', 'NOBLEMAN',
          'DADDY', 'PAPI', 'PAPA', 'GRANDPA', 'GRAMPS', 'CHAP', 'LAD', 'GEEZER', 'BLOKE', 'SIR', 'MR.', 'HUBBY','GROOM',
          'HERR']
    
    gender = '?'
    if gender == '?': 
        for x in men:
            if x == y:
                gender = 'M'

        for x in women:
            if x == y:
                gender = 'F'

    if gender == '?':                
        for x in gendered_m:
            if x in y:
                gender = 'M'

        for x in gendered_f:
            if x in y:
                gender = 'F'
    return gender

In [83]:
test('UGLY OLD WOMAN')

'F'

In [84]:
def assign_namesg(row):
    women = female_names.name.to_list() 
    men = male_names.name.to_list()
    gendered_f = ['MRS', 'LADY', 'MS ', 'MISS', 'WOMAN', 'GIRL', 'CHICK', 'MADAM', 'MADAME', 'SENIORITA', 'SENORA',
            'MISTRESS', 'FEMALE', 'MOTHER', 'MOM', 'GRANDDAUGHTER', 'NIECE', 'AUNT', 'SISTER', 'DAUGHTER',
            'BROAD', 'DUCHESS', 'DAME', 'GENTLEWOMAN', 'QUEEN', 'CRONE', ' HAG', 'GAL', 'MAMA', 'MOMMA', 'BITCH',
            'MISSUS', 'EMPRESS', 'BARONESS', 'NOBLEWOMAN', 'GRANNY', 'NONNA', 'NUN', 'MRS.','MS.', 'FRAU','WIFE',
            'WIFEY', 'BRIDE']
    gendered_m = ['MR ', 'SENOR', 'MAN', 'GUY', 'DUDE', 'MISTER', 'BOY', 'MALE', 'BROTHER', 'HUSBAND', 'GENTLEMAN',
          'FATHER', 'DAD', 'GRANDSON', 'GRANDFATHER', 'NEPHEW', 'UNCLE', 'BARON', 'KNIGHT', 'EMPEROR', 'NOBLEMAN',
          'DADDY', 'PAPI', 'PAPA', 'GRANDPA', 'GRAMPS', 'CHAP', 'LAD', 'GEEZER', 'BLOKE', 'SIR', 'MR.', 'HUBBY','GROOM',
          'HERR']
    
    gender = row['gender']
    name = row['name']
    try:
        if row['gender'] == '?': 
            for x in men:
                if x == row['name']:
                    gender = 'M'
                    
            for x in women:
                if x == row['name']:
                    gender = 'F'
            
        if row['gender'] == '?':                
            for x in gendered_m:
                if x in row['name']:
                    gender = 'M'
                    
            for x in gendered_f:
                if x in row['name']:
                    gender = 'F'
      
        print(f'Name is {name}, Gender is {gender}')    
    
    except:
        print(name)
        print('Something went wrong.')    

        return gender

In [85]:
characters_df = characters.rename(columns={
    0: 'id',
    1: 'name',
    2: 'movie_id',
    3: 'title',
    4: 'gender',
    5: 'credit_position'
})