In [6]:
#Importing dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS

In [7]:
#Loading data into dataframes
character_df = pd.read_csv("fixed_characters.csv") #Do we need encoding ="latin-1"?
lines_df = pd.read_csv("fixed_lines.csv", encoding ="latin-1")

In [8]:
lines_df

,Unnamed: 0,lineId,chId,mId,chName,dialogue
0,0,L1045,u0,m0,BIANCA,They do not
1,1,L1044,u2,m0,CAMERON,They do to
2,2,L985,u0,m0,BIANCA,I hope so
3,3,L984,u2,m0,CAMERON,She okay
4,4,L925,u0,m0,BIANCA,Let's go
...,...,...,...,...,...,...
292938,293197,L666371,u9030,m616,DURNFORD,Lord Chelmsford seems to want me to stay back ...
292939,293198,L666370,u9034,m616,VEREKER,I'm to take the Sikali with the main column to...
292940,293199,L666369,u9030,m616,DURNFORD,Your orders Mr Vereker
292941,293200,L666257,u9030,m616,DURNFORD,Good ones yes Mr Vereker Gentlemen who can rid...
292942,293201,L666256,u9034,m616,VEREKER,Colonel Durnford William Vereker I hear you 'v...

In [9]:
character_df.head()

   id      name movie_id                       title gender credit_position
0  u0    BIANCA       m0  10 things i hate about you      f               4
1  u1     BRUCE       m0  10 things i hate about you      M               ?
2  u2   CAMERON       m0  10 things i hate about you      m               3
3  u3  CHASTITY       m0  10 things i hate about you      F               ?
4  u4      JOEY       m0  10 things i hate about you      m               6

In [10]:
character_df['gender'].value_counts()

M    2451
?    2407
m    1899
F    1339
f     921
Name: gender, dtype: int64

In [16]:
character_df.dtypes

id                 object
name               object
movie_id           object
title              object
gender             object
credit_position    object
dtype: object

In [17]:
character_df['gender'] = character_df['gender'].apply(lambda x: x.upper())

AttributeError: 'float' object has no attribute 'upper'